{% extends 'base.html' %}
<!--  -->
{% block content %}
<!--  -->
{% if not data %}
<div class="grid grid-flow-row md:grid-flow-col items-stretch gap-12">
  <div class="flex flex-col border-b md:border-b-0 md:border-r py-12">
    <h2 class="text-xl font-bold text-gray-900 mb-6">Export the lead data</h2>
    <ul class="space-y-1 max-w-md list-disc list-inside mb-auto">
      <li>
        <a
          href="https://reddirtequipment.com/admin"
          target="_blank"
          class="text-blue-700 hover:underline dark:text-blue-400"
          >reddirtequipment.com</a
        >
      </li>
      <li>
        <a
          href="https://mahindradealerportal.com/"
          target="_blank"
          class="text-blue-700 hover:underline dark:text-blue-400"
          >Mahindra USA</a
        >
      </li>
      <li>
        <a
          href="https://www.kioti.com/dealerden/"
          target="_blank"
          class="text-blue-700 hover:underline dark:text-blue-400"
          >Kioti</a
        >
      </li>
    </ul>

    <form
      action="{{ url_for('settings') }}"
      method="POST"
      enctype="multipart/form-data"
      class="pt-6 w-full max-w-md space-y-6">
      <div>
        <label
          for="api_token"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Pipedrive API Token</label
        >
        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
          Find this under
          <a
            href="https://reddirtequipmentcom.pipedrive.com/settings/api"
            target="_blank"
            class="text-sm text-blue-700 hover:underline dark:text-blue-400"
            >personal preferences</a
          >
          in Pipedrive.
        </p>
        <div class="flex items-center gap-2 5">
          {% if settings %}
          <input
            type="text"
            id="api_token"
            name="api_token"
            value="{{ settings }}"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
          {% else %}
          <input
            type="text"
            id="api_token"
            name="api_token"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
          {% endif %}

          <button
            type="submit"
            class="p-2.5 shadow-sm text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6">
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5" />
            </svg>
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="py-12">
    <h2 class="text-xl font-bold text-gray-900 mb-6">
      Parse data fpr Pipedrive
    </h2>

    <form
      action="{{ url_for('parse') }}"
      method="POST"
      enctype="multipart/form-data"
      class="w-full space-y-6">
      <div>
        <label
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          for="file_input"
          >Lead source file</label
        >
        <input
          class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
          id="file_input"
          name="file"
          accept=".csv"
          type="file" />
      </div>
      <div>
        <label
          for="template"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
          >Select template</label
        >
        <select
          id="template"
          name="template"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
          <option selected value="default">Choose a template</option>
          <option value="1">Mahindra USA</option>
          <option value="2">Dealer Spike</option>
          <option value="3">Kioti</option>
          <option value="4">Other</option>
        </select>
      </div>
      <div>
        <label
          for="start"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Start date</label
        >
        <input
          type="date"
          id="start"
          name="start"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
        <p class="mt-2 text-sm text-gray-500 dark:text-gray-400">
          Leave blank to parse the entire file.
        </p>
      </div>
      <div>
        <button
          type="submit"
          class="shadow-sm flex items-center justify-center gap-3 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
          Parse leads
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
          </svg>
        </button>
      </div>
    </form>
  </div>
</div>

{% else %}
<h1 class="text-3xl font-semibold text-gray-900 dark:text-white mb-6">
  {{ data|length }} items need approval
</h1>
<p class="text-gray-700 leading-loose mb-12">
  This is a preview of the data that will be added to Pipedrive. Relational IDs
  (lead_id, person_id, etc.) should be blank. Check the approve checkbox for
  each item you want to add to the CRM. When you're done, click the button at
  the bottom of the page to add the selected items to Pipedrive.
</p>

<div class="flex flex-col md:flex-row items-center gap-3 mb-12">
  <a
    href="{{ url_for('index') }}"
    class="shadow-sm w-full md:w-auto flex items-center justify-center gap-2.5 py-2.5 px-5 font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
    </svg>
    Select a different file
  </a>
  <button
    type="button"
    onclick="approveAll()"
    class="shadow-sm w-full md:w-auto flex items-center justify-center gap-2.5 py-2.5 px-5 font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M4.5 12.75l6 6 9-13.5" />
    </svg>
    Approve all
  </button>
</div>

<form
  action="{{ url_for('create') }}"
  method="POST"
  class="w-full flex flex-col md:flex-row md:flex-wrap gap-6 md:gap-12">
  {% for item in data %}
  <div
    class="bg-white rounded-lg shadow-sm hover:shadow-md border-gray-200 border p-6 w-full md:max-w-md flex flex-col transition-all duration-300 ease-linear">
    <input type="hidden" name="data-{{ loop.index }}" value="{{ item }}" />
    <div class="flex items-center gap-3 mb-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-5 h-5">
        <path
          fill-rule="evenodd"
          d="M7.5 6a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM3.751 20.105a8.25 8.25 0 0116.498 0 .75.75 0 01-.437.695A18.683 18.683 0 0112 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 01-.437-.695z"
          clip-rule="evenodd" />
      </svg>
      <h6 class="font-bold text-gray-9002">Person</h6>
    </div>
    <p class="text-gray-900 font-base">
      <span class="font-medi">NAME:</span> {{ item.person.name}}
    </p>
    <p class="text-gray-900">
      <span class="font-medium">EMAIL:</span>
      {{ item.person.email}}
    </p>
    <p class="text-gray-900">
      <span class="font-medium">PHONE:</span> {{ item.person.phone}}
    </p>
    <p class="text-gray-900">
      <span class="font-medium">VISIBLE TO:</span> {{ item.person.visible_to}}
    </p>
    <hr class="my-4" />
    <div class="flex items-center gap-3 mb-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-6 h-6">
        <path
          fill-rule="evenodd"
          d="M4.5 3.75a3 3 0 00-3 3v10.5a3 3 0 003 3h15a3 3 0 003-3V6.75a3 3 0 00-3-3h-15zm4.125 3a2.25 2.25 0 100 4.5 2.25 2.25 0 000-4.5zm-3.873 8.703a4.126 4.126 0 017.746 0 .75.75 0 01-.351.92 7.47 7.47 0 01-3.522.877 7.47 7.47 0 01-3.522-.877.75.75 0 01-.351-.92zM15 8.25a.75.75 0 000 1.5h3.75a.75.75 0 000-1.5H15zM14.25 12a.75.75 0 01.75-.75h3.75a.75.75 0 010 1.5H15a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5h3.75a.75.75 0 000-1.5H15z"
          clip-rule="evenodd" />
      </svg>
      <h6 class="font-bold text-gray-900">Lead</h6>
    </div>
    <p class="text-gray-900">
      <span class="font-medium">TITLE:</span> {{ item.lead.title}}
    </p>
    <p class="text-gray-900">
      <span class="font-medium">PERSON ID:</span> {{ item.lead.person_id}}
    </p>
    <hr class="my-4" />
    <div class="flex items-center gap-3 mb-2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        fill="currentColor"
        class="w-5 h-5">
        <path
          fill-rule="evenodd"
          d="M5.625 1.5c-1.036 0-1.875.84-1.875 1.875v17.25c0 1.035.84 1.875 1.875 1.875h12.75c1.035 0 1.875-.84 1.875-1.875V12.75A3.75 3.75 0 0016.5 9h-1.875a1.875 1.875 0 01-1.875-1.875V5.25A3.75 3.75 0 009 1.5H5.625zM7.5 15a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5A.75.75 0 017.5 15zm.75 2.25a.75.75 0 000 1.5H12a.75.75 0 000-1.5H8.25z"
          clip-rule="evenodd" />
        <path
          d="M12.971 1.816A5.23 5.23 0 0114.25 5.25v1.875c0 .207.168.375.375.375H16.5a5.23 5.23 0 013.434 1.279 9.768 9.768 0 00-6.963-6.963z" />
      </svg>
      <h6 class="font-bold text-gray-900">Note</h6>
    </div>
    <p class="text-gray-900">
      <span class="font-medium">CONTENT:</span> {{ item.note.content }}
    </p>
    <hr class="my-4" />
    <div class="mt-auto flex items-center">
      <input
        id="approve-{{ loop.index }}"
        name="approve-{{ loop.index }}"
        type="checkbox"
        class="w-5 h-5 text-blue-600 bg-gray-50 rounded border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" />
      <label
        for="approve-{{ loop.index }}"
        class="ml-3 font-medium text-gray-900 dark:text-gray-300"
        >Looks good. Approve.</label
      >
    </div>
  </div>
  {% endfor %}
  <div class="w-full mb-12">
    <button
      type="submit"
      class="shadow-sm flex items-center justofy-center gap-2.5 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
      Finish. Create in Pipedrive
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
      </svg>
    </button>
  </div>
</form>

{% endif %}
<!--  -->

{% endblock %}
